:root {
  --dark: rgb(44, 43, 43);
  --light: #fff;
}

@media screen and (max-width: 39rem) {
  body {
    padding: 0 1rem;
  }
}

button {
  color: var(--dark);
  background: var(--light);
  border: var(--dark);
  border-radius: 4px;
  padding: 6px 16px;
  box-shadow: rgb(0 0 0 / 20%) 0 2px 4px -1px, rgb(0 0 0 / 14%) 0 4px 5px 0,
    rgb(0 0 0 / 12%) 0 1px 10px 0;
}

.main-area {
  max-width: 38rem;
  margin: auto;
  min-height: 1000px;
  color: var(--dark);
}

.dark-mode {
  background: var(--dark);
  color: var(--light);
}

.dark-mode section {
  color: var(--light);
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  background-color: var(--dark);
  width: 100%;
  padding: 1rem;
  color: var(--light);
  text-align: center;
}

.dark-mode .bottom-bar {
  color: var(--dark);
  background-color: var(--light);
}

.fade {
  display: none;
}

.animated {
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideOut {
  0% {
  }
  100% {
    bottom: -50px;
  }
}

@keyframes slideOut {
  0% {
  }
  100% {
    bottom: -50px;
  }
}

.slideOut {
  -webkit-animation-name: slideOut;
  animation-name: slideOut;
}

@-webkit-keyframes slideIn {
  0% {
    bottom: -50px;
  }
  100% {
  }
}

@keyframes slideIn {
  0% {
    bottom: -50px;
  }
  100% {
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}
